# Listas y Tuplas

Haz una lista llamada colores donde almacenemos los primeros 6 colores que te vengan a la mente.

In [2]:
colores = ["rojo", "verde", "azul", "amarillo", "violeta", "naranja"]
colores

['rojo', 'verde', 'azul', 'amarillo', 'violeta', 'naranja']

Haz una lista llamada buses de las líneas de autobuses que pasan por tu casa.

In [3]:
buses = [10, 8, 5, 33]
buses

[10, 8, 5, 33]

Apunta la previsión de temperaturas máximas para todos los días de esta semana en temperaturas.

In [4]:
temperaturas = [23, 20, 36.7, 18, 21, 29, 30]
temperaturas

[23, 20, 36.7, 18, 21, 29, 30]

Convierte tu(s) nombre(s) a una lista nombres de caracteres.

In [5]:
nombres = list("Patricia")
nombres

['P', 'a', 't', 'r', 'i', 'c', 'i', 'a']

Convierte tu(s) apellido(s) a una lista apellidos de caracteres.

In [6]:
apellidos = list("Anaya Morales")
apellidos

['A', 'n', 'a', 'y', 'a', ' ', 'M', 'o', 'r', 'a', 'l', 'e', 's']

¿Cuántos búses pasan por tu casa?

In [7]:
print("Por mi casa pasan", len(buses), "autobuses")

Por mi casa pasan 4 autobuses

¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?

In [8]:
print("En mi apellido hay", len(apellidos), "caracteres")

En mi apellido hay 13 caracteres

¿Cuáles son las temperaturas máximas (t_max) y mínimas (t_min) para esta semana?

In [9]:
t_max = max(temperaturas)
t_min = min(temperaturas)
print("Esta semana la temperatura máxima es de", t_max)
print("Esta semana la temperatura mínima es de", t_min)

Esta semana la temperatura máxima es de 36.7
Esta semana la temperatura mínima es de 18

Hay una 'e' en tu nombre?

In [10]:
print("En mi nombre hay", nombres.count("e"), "e.")

En mi nombre hay 0 e.

In [11]:
"e" in str(nombres)

False

Tienes el color 'rosa' en la lista de colores?

In [12]:
"rosa" in colores

False

¿Tiene una 'x' tu nombre? (Usa not in)

In [13]:
"x" not in str(nombres)

True

Copia el contenido de temperaturas a temperaturas2, y temperaturas3.

In [14]:
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()

Vacía el contenido de la variable temperaturas2

In [15]:
temperaturas2.clear()
print(temperaturas2)

[]

Imprime el contenido de temperaturas y temperaturas2.

In [16]:
print(temperaturas)
print(temperaturas2)

[23, 20, 36.7, 18, 21, 29, 30]
[]

Copia el contenido de nombres a nombres2.

In [17]:
nombres2 = nombres.copy()

Copia el contenido de apellidos a apellidos2.

In [18]:
apellidos2 = apellidos.copy()

Ordena la variable temperaturas3 de mayor a menor.

In [19]:
temperaturas3.sort()
temperaturas3

[18, 20, 21, 23, 29, 30, 36.7]

Ordena los caracteres de tu nombre y tu apellido en las listas nombres2 y apellidos2. Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas?

In [20]:
nombres2.sort()
apellidos2.sort()
print(nombres2, apellidos2)

#orden: espacios, mayúsculas y minúsculas

['P', 'a', 'a', 'c', 'i', 'i', 'r', 't'] [' ', 'A', 'M', 'a', 'a', 'a', 'e', 'l', 'n', 'o', 'r', 's', 'y']

¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?

In [21]:
print("Mi nombre tiene",nombres.count("e"), "e.")
print("Mi nombre tiene", nombres.count("o"), "o.")

Mi nombre tiene 0 e.
Mi nombre tiene 0 o.

Verifica si los resultados de ejercicio 19 son iguales para la lista nombres2.

In [22]:
print("Mi nombre en 'nombres2' tiene",nombres2.count("e"), "e.")
print("Mi nombre en 'nombres2' tiene", nombres2.count("o"), "o.")

Mi nombre en 'nombres2' tiene 0 e.
Mi nombre en 'nombres2' tiene 0 o.

¿Cuántas veces esta semana llega la temperatura a la t_max? ¿Y cuántas a la t_min?

In [23]:
print("Esta semana llegamos", temperaturas.count(t_max), "vez a la temperatura máxima")
print("Esta semana llegamos", temperaturas.count(t_min), "vez a la temperatura mínima")

Esta semana llegamos 1 vez a la temperatura máxima
Esta semana llegamos 1 vez a la temperatura mínima

La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.

In [24]:
dias_en = ["monday", "tueday", "wednesday", "thursday", "friday", "saturday", "sunday"]

Define temperaturas_diciembre 👇🏽:

In [25]:
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 12, 11, 13, 17, 18, 15, 15, 17, 17, 13, 13, 11, 12, 10, 12, 14, 12, 12, 11, 12, 16, 16, 14, 17, 18]

¿Cuál es el penúltimo día de la semana?

In [26]:
print("El penúltimo día de la semana es", dias_en[-2])
print("El penúltimo día de la semana es", dias_en[5])

El penúltimo día de la semana es saturday
El penúltimo día de la semana es saturday

¿Cuál es el último elemento de la lista de temperaturas de diciembre?

In [27]:
print("El último elemento de la lista de temperaturas de diciembre es", temperaturas_diciembre[-1])
print("El último elemento de la lista de temperaturas de diciembre es", temperaturas_diciembre[30])

El último elemento de la lista de temperaturas de diciembre es 18
El último elemento de la lista de temperaturas de diciembre es 18

¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?

In [28]:
print("friday" in dias_en)
print("El viernes se encuentra en la posición", dias_en.index("friday"), "de la lista")

True
El viernes se encuentra en la posición 4 de la lista

¿Cuál era la temperatura máxima en diciembre?

In [29]:
print("La temperatura máxima en diciembre fue de", max(temperaturas_diciembre), "grados")

La temperatura máxima en diciembre fue de 18 grados

Encuentra el índice de 'miércoles' en dias_es.

In [30]:
print("El miércoles se encuentra en la posición", dias_en.index("wednesday"))

El miércoles se encuentra en la posición 2

(Bonus) Imprime esta frase en pantalla: 'La temperatura máxima esta semana será 14 ºC, que ocurrirá en 1 días(s). El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 2 día(s).'

In [31]:
print(f'La temperatura máxima esta semana será {t_max} ºC, que ocurrirá en {temperaturas.count(t_max)} días(s). El día más friolero tendrá una temperatura máxima de {t_min} ºC, que ocurrirá en {temperaturas.count(t_min)} día(s).')

La temperatura máxima esta semana será 36.7 ºC, que ocurrirá en 1 días(s). El día más friolero tendrá una temperatura máxima de 18 ºC, que ocurrirá en 1 día(s).

## Definir tuplas

In [32]:
# Crea una tupla persona1 para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. (Serán del tipo int, float y str.)

persona1 = 61, 1.54, "pelo marrón"

In [33]:
# Crea una tupla para la persona2 de 68 kg, 1.65 m y pelo rubio, usando paréntesis.

persona2 = (68, 1.65, "pelo rubio")

In [34]:
# Crea una lista talla que recompila 'M', 42, y 39.

talla = ["M", 42, 39]
type(talla)

list

## Convertir y juntar

In [35]:
## Convierte la lista talla a una tupla.

talla = tuple(talla)
type(talla)

tuple

In [36]:
# Une a la tupla de persona1 los datos en talla, para tener una única tupla.

persona1 = list(persona1)
persona1.append(talla)
persona1 = tuple(persona1)
print(persona1)
type(persona1)

(61, 1.54, 'pelo marrón', ('M', 42, 39))

tuple

## Indexar tuplas

In [37]:
## Saca de persona2 el contenido del tercer elemento y llámalo color.

persona2 = list(persona2)
persona2[2] = "color"
print(persona2[2])
persona2 = tuple(persona2)
type(persona2)

color

tuple

In [38]:
## ¿Cuántos elementos hay ahora en persona1? (Es decir, ¿cuál es su longitud?)

print("Tras haber añadido la lista Talla en la tupla persona1, la cantidad de elementos totales es de", len(persona1))

Tras haber añadido la lista Talla en la tupla persona1, la cantidad de elementos totales es de 4

## Desempaquetar

In [39]:
# Crea las variables peso, altura, color_pelo y llénalas con el contenido de persona1. Imprime color_pelo para comprobar el resultado.

peso = "61 kg"
altura = "1.54 m"
color_pelo = "marrón"
print(color_pelo)

marrón

## Zipear

In [40]:
# Crea el zip personas con persona1 y persona2.

personas = zip(persona1, persona2)
print("el resultado zip de estas listas es:", personas)
print("el resultado zip de estas listas es:", list(personas))

#para que sea legible, siempre ha de convertise a lista.

el resultado zip de estas listas es: <zip object at 0x0000024FD5882E00>
el resultado zip de estas listas es: [(61, 68), (1.54, 1.65), ('pelo marrón', 'color')]

In [41]:
# ¿Cuántas "elementos" tiene personas? ¿Por qué?

len(list(personas))

#porque el zip es de un solo uso y ya se ha usado anteriormente.

0

In [42]:
# Crea una tupla etiquetas con 'peso', 'altura', y 'color_pelo'.

etiquetas = peso, altura, color_pelo
type(etiquetas)

tuple

In [43]:
# Crea al zip de etiquetas, persona1, y persona2, llamado "todo".

todo = zip(etiquetas, persona1, persona2)
print(list(todo))

[('61 kg', 61, 68), ('1.54 m', 1.54, 1.65), ('marrón', 'pelo marrón', 'color')]

## Manipular zips

In [44]:
# Ordena las propiedades de la variable personas alfabéticamente. ¿Puedes? ¿Por qué?

personas = list(zip(persona1, persona2))
personas.sort()

# da error ya que no se pueden ordenar elementos de distinto tipo (str, float)

TypeError: '<' not supported between instances of 'str' and 'float'