# Listas y Tuplas

Haz una lista llamada colores donde almacenemos los primeros 6 colores que te vengan a la mente.

In [2]:
colores = ["rojo", "verde", "azul", "amarillo", "violeta", "naranja"]
colores

['rojo', 'verde', 'azul', 'amarillo', 'violeta', 'naranja']

Haz una lista llamada buses de las l칤neas de autobuses que pasan por tu casa.

In [3]:
buses = [10, 8, 5, 33]
buses

[10, 8, 5, 33]

Apunta la previsi칩n de temperaturas m치ximas para todos los d칤as de esta semana en temperaturas.

In [4]:
temperaturas = [23, 20, 36.7, 18, 21, 29, 30]
temperaturas

[23, 20, 36.7, 18, 21, 29, 30]

Convierte tu(s) nombre(s) a una lista nombres de caracteres.

In [5]:
nombres = list("Patricia")
nombres

['P', 'a', 't', 'r', 'i', 'c', 'i', 'a']

Convierte tu(s) apellido(s) a una lista apellidos de caracteres.

In [6]:
apellidos = list("Anaya Morales")
apellidos

['A', 'n', 'a', 'y', 'a', ' ', 'M', 'o', 'r', 'a', 'l', 'e', 's']

쮺u치ntos b칰ses pasan por tu casa?

In [7]:
print("Por mi casa pasan", len(buses), "autobuses")

Por mi casa pasan 4 autobuses

쮺u치ntos caracteres hay en tu apellido(s) (inluyendo los espacios)?

In [8]:
print("En mi apellido hay", len(apellidos), "caracteres")

En mi apellido hay 13 caracteres

쮺u치les son las temperaturas m치ximas (t_max) y m칤nimas (t_min) para esta semana?

In [9]:
t_max = max(temperaturas)
t_min = min(temperaturas)
print("Esta semana la temperatura m치xima es de", t_max)
print("Esta semana la temperatura m칤nima es de", t_min)

Esta semana la temperatura m치xima es de 36.7
Esta semana la temperatura m칤nima es de 18

Hay una 'e' en tu nombre?

In [10]:
print("En mi nombre hay", nombres.count("e"), "e.")

En mi nombre hay 0 e.

In [11]:
"e" in str(nombres)

False

Tienes el color 'rosa' en la lista de colores?

In [12]:
"rosa" in colores

False

쯊iene una 'x' tu nombre? (Usa not in)

In [13]:
"x" not in str(nombres)

True

Copia el contenido de temperaturas a temperaturas2, y temperaturas3.

In [14]:
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()

Vac칤a el contenido de la variable temperaturas2

In [15]:
temperaturas2.clear()
print(temperaturas2)

[]

Imprime el contenido de temperaturas y temperaturas2.

In [16]:
print(temperaturas)
print(temperaturas2)

[23, 20, 36.7, 18, 21, 29, 30]
[]

Copia el contenido de nombres a nombres2.

In [17]:
nombres2 = nombres.copy()

Copia el contenido de apellidos a apellidos2.

In [18]:
apellidos2 = apellidos.copy()

Ordena la variable temperaturas3 de mayor a menor.

In [19]:
temperaturas3.sort()
temperaturas3

[18, 20, 21, 23, 29, 30, 36.7]

Ordena los caracteres de tu nombre y tu apellido en las listas nombres2 y apellidos2. Imprime el resultado y investiga: 쯤u칠 orden ha cogido? 쮺칩mo trata las may칰sculas?

In [20]:
nombres2.sort()
apellidos2.sort()
print(nombres2, apellidos2)

#orden: espacios, may칰sculas y min칰sculas

['P', 'a', 'a', 'c', 'i', 'i', 'r', 't'] [' ', 'A', 'M', 'a', 'a', 'a', 'e', 'l', 'n', 'o', 'r', 's', 'y']

쮺u치ntas 'a' tiene tu nombre? 쯏 cu치ntas 'o'?

In [21]:
print("Mi nombre tiene",nombres.count("e"), "e.")
print("Mi nombre tiene", nombres.count("o"), "o.")

Mi nombre tiene 0 e.
Mi nombre tiene 0 o.

Verifica si los resultados de ejercicio 19 son iguales para la lista nombres2.

In [22]:
print("Mi nombre en 'nombres2' tiene",nombres2.count("e"), "e.")
print("Mi nombre en 'nombres2' tiene", nombres2.count("o"), "o.")

Mi nombre en 'nombres2' tiene 0 e.
Mi nombre en 'nombres2' tiene 0 o.

쮺u치ntas veces esta semana llega la temperatura a la t_max? 쯏 cu치ntas a la t_min?

In [23]:
print("Esta semana llegamos", temperaturas.count(t_max), "vez a la temperatura m치xima")
print("Esta semana llegamos", temperaturas.count(t_min), "vez a la temperatura m칤nima")

Esta semana llegamos 1 vez a la temperatura m치xima
Esta semana llegamos 1 vez a la temperatura m칤nima

La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.

In [24]:
dias_en = ["monday", "tueday", "wednesday", "thursday", "friday", "saturday", "sunday"]

Define temperaturas_diciembre 游녢游낗:

In [25]:
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 12, 11, 13, 17, 18, 15, 15, 17, 17, 13, 13, 11, 12, 10, 12, 14, 12, 12, 11, 12, 16, 16, 14, 17, 18]

쮺u치l es el pen칰ltimo d칤a de la semana?

In [26]:
print("El pen칰ltimo d칤a de la semana es", dias_en[-2])
print("El pen칰ltimo d칤a de la semana es", dias_en[5])

El pen칰ltimo d칤a de la semana es saturday
El pen칰ltimo d칤a de la semana es saturday

쮺u치l es el 칰ltimo elemento de la lista de temperaturas de diciembre?

In [27]:
print("El 칰ltimo elemento de la lista de temperaturas de diciembre es", temperaturas_diciembre[-1])
print("El 칰ltimo elemento de la lista de temperaturas de diciembre es", temperaturas_diciembre[30])

El 칰ltimo elemento de la lista de temperaturas de diciembre es 18
El 칰ltimo elemento de la lista de temperaturas de diciembre es 18

쮼st치 'friday' en la lista de d칤as en ingl칠s? Si est치, 쯗칩nde?

In [28]:
print("friday" in dias_en)
print("El viernes se encuentra en la posici칩n", dias_en.index("friday"), "de la lista")

True
El viernes se encuentra en la posici칩n 4 de la lista

쮺u치l era la temperatura m치xima en diciembre?

In [29]:
print("La temperatura m치xima en diciembre fue de", max(temperaturas_diciembre), "grados")

La temperatura m치xima en diciembre fue de 18 grados

Encuentra el 칤ndice de 'mi칠rcoles' en dias_es.

In [30]:
print("El mi칠rcoles se encuentra en la posici칩n", dias_en.index("wednesday"))

El mi칠rcoles se encuentra en la posici칩n 2

(Bonus) Imprime esta frase en pantalla: 'La temperatura m치xima esta semana ser치 14 췈C, que ocurrir치 en 1 d칤as(s). El d칤a m치s fr칤o tendr치 una temperatura m치xima de 10 췈C, que ocurrir치 en 2 d칤a(s).'

In [31]:
print(f'La temperatura m치xima esta semana ser치 {t_max} 췈C, que ocurrir치 en {temperaturas.count(t_max)} d칤as(s). El d칤a m치s friolero tendr치 una temperatura m치xima de {t_min} 췈C, que ocurrir치 en {temperaturas.count(t_min)} d칤a(s).')

La temperatura m치xima esta semana ser치 36.7 췈C, que ocurrir치 en 1 d칤as(s). El d칤a m치s friolero tendr치 una temperatura m치xima de 18 췈C, que ocurrir치 en 1 d칤a(s).

## Definir tuplas

In [32]:
# Crea una tupla persona1 para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marr칩n, sin usar par칠ntesis. (Ser치n del tipo int, float y str.)

persona1 = 61, 1.54, "pelo marr칩n"

In [33]:
# Crea una tupla para la persona2 de 68 kg, 1.65 m y pelo rubio, usando par칠ntesis.

persona2 = (68, 1.65, "pelo rubio")

In [34]:
# Crea una lista talla que recompila 'M', 42, y 39.

talla = ["M", 42, 39]
type(talla)

list

## Convertir y juntar

In [35]:
## Convierte la lista talla a una tupla.

talla = tuple(talla)
type(talla)

tuple

In [36]:
# Une a la tupla de persona1 los datos en talla, para tener una 칰nica tupla.

persona1 = list(persona1)
persona1.append(talla)
persona1 = tuple(persona1)
print(persona1)
type(persona1)

(61, 1.54, 'pelo marr칩n', ('M', 42, 39))

tuple

## Indexar tuplas

In [37]:
## Saca de persona2 el contenido del tercer elemento y ll치malo color.

persona2 = list(persona2)
persona2[2] = "color"
print(persona2[2])
persona2 = tuple(persona2)
type(persona2)

color

tuple

In [38]:
## 쮺u치ntos elementos hay ahora en persona1? (Es decir, 쯖u치l es su longitud?)

print("Tras haber a침adido la lista Talla en la tupla persona1, la cantidad de elementos totales es de", len(persona1))

Tras haber a침adido la lista Talla en la tupla persona1, la cantidad de elementos totales es de 4

## Desempaquetar

In [39]:
# Crea las variables peso, altura, color_pelo y ll칠nalas con el contenido de persona1. Imprime color_pelo para comprobar el resultado.

peso = "61 kg"
altura = "1.54 m"
color_pelo = "marr칩n"
print(color_pelo)

marr칩n

## Zipear

In [40]:
# Crea el zip personas con persona1 y persona2.

personas = zip(persona1, persona2)
print("el resultado zip de estas listas es:", personas)
print("el resultado zip de estas listas es:", list(personas))

#para que sea legible, siempre ha de convertise a lista.

el resultado zip de estas listas es: <zip object at 0x0000024FD5882E00>
el resultado zip de estas listas es: [(61, 68), (1.54, 1.65), ('pelo marr칩n', 'color')]

In [41]:
# 쮺u치ntas "elementos" tiene personas? 쯇or qu칠?

len(list(personas))

#porque el zip es de un solo uso y ya se ha usado anteriormente.

0

In [42]:
# Crea una tupla etiquetas con 'peso', 'altura', y 'color_pelo'.

etiquetas = peso, altura, color_pelo
type(etiquetas)

tuple

In [43]:
# Crea al zip de etiquetas, persona1, y persona2, llamado "todo".

todo = zip(etiquetas, persona1, persona2)
print(list(todo))

[('61 kg', 61, 68), ('1.54 m', 1.54, 1.65), ('marr칩n', 'pelo marr칩n', 'color')]

## Manipular zips

In [44]:
# Ordena las propiedades de la variable personas alfab칠ticamente. 쯇uedes? 쯇or qu칠?

personas = list(zip(persona1, persona2))
personas.sort()

# da error ya que no se pueden ordenar elementos de distinto tipo (str, float)

TypeError: '<' not supported between instances of 'str' and 'float'